@import url('https://fonts.googleapis.com/css?family=Open+Sans|Lato');

@font-face {
  font-family: "Javanese Text";
  src: url("javatext.ttf")
}
/*responsive menu credit (used HTML structure/javascript/some CSS from this codepen and modified as needed): https://codepen.io/charliearlie/pen/LdPgpx*/

/*===========================TOP NAV===========================*/
.navbar {
  display: flex;
  font-family: "Lato", sans-serif;
  flex-direction: column;
  margin:20px;
}
  .navbar_link {
    line-height: 2.5;
    align-self: center;
  }
    .navbar_link a,
    .bottom-nav li a {
      text-decoration: none;
      color: #000000;
      text-transform: uppercase;
    }
    .navbar_link a:hover,
    .bottom-nav li a:hover{
      color: #707275;
    }
  .navbar_link-brand {
    font-size: 1.3em;
    letter-spacing: 0.18em;
  }
  .navbar_items {
    display: none;
    font-size: 18px;
    letter-spacing: 0.18em;
  }
    .navbar_items--right {
      margin-left: 0;
    }
  .navbar_ToggleShow {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  .navbar_link-toggle {
      align-self: flex-end;
      display: initial;
      position: absolute;
      cursor: pointer;
      padding-top: 5px;
     }
/*===========================BOTTOM NAV===========================*/
.bottom-nav {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  list-style-type: none;
  padding: 5px;
  text-align: center;
  padding-top: 2rem;
}
  .bottom-nav li{
    list-style-type: none;
    display: block;
    padding:10px;
  }
    .bottom-nav li a {
      text-decoration: none;
      color: black;
      letter-spacing: 0.11em;
    }

/*===========================JUMP TO MAIN===========================*/

.jump {
  margin-left: -999px;
  position: absolute;
  top: auto;
  height: 1px;
  width: 1px;
  overflow: hidden;
  z-index: 1000;
}

a.jump:active, a.jump:focus, a.jump:hover{
  margin-left: auto;
  margin-right: auto;
  display: block;
  top: auto;
  position: relative;
  width: 30%;
  height: auto;
  overflow: visible;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  color: black;
  padding: 5px;
  border: 4px blue;
  border-radius: 15px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.18em;
}

/*===========================MAIN CONTENT===========================*/

#main {
  padding-top: 80px;
  margin-top: -80px;
}
.content {
  margin: 0px 20px 20px 20px;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  text-align: center;
  padding-bottom: 2rem;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: .5em;
}
h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.10em;
  color: #707275;
  padding-bottom: 1.8em;
}
p {
  font-family:  'Open Sans', sans-serif;
  line-height: 1.8;
}
.current{
  font-weight: bold;
  border-bottom-width: 1px;
  padding-bottom: 3px;
  border-bottom-style: solid;
  text-decoration: none;
  color: black;
}
img {
  max-width: 100%;
}
ul, ol {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8;
  margin-left: 1rem;
}
a.button {
  text-decoration: none;
  text-align: center;
  color: initial;
  border: 2px solid #00B4A3;
  padding: .8em .8em .8em .8em;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.1em;
  display: block;
  width:80%;
  margin: 0 auto;
}
a.button:hover{
  background-color: #00B4A3;
  transition: 0.3s;
  color: white;
}
.gallery_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
figcaption{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-style: italic;
}
figure img{
  margin-bottom: -2rem;
}

/*===========================ABOUT PAGE FORMATTING===========================*/

.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: flex-start;
}
  .flex-container img{
    display: flex;
    align-self: flex-start;
    object-fit: contain;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 30px;
  }
  .about-text{
    height: 100%;
  }
  #hi {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.21em;
    padding-bottom: 1rem;
    text-align: left;
  }

/*===========================INDEX PAGE FORMATTING===========================*/

.index_container {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 1rem;
}
  .index_container img:hover{
    opacity:.4;
    transition: 0.3s;
  }
  .index_item_left{
    object-fit: contain;
    align-self: flex-start;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    padding-bottom: 2rem;
  }
  .index_item_right{
    object-fit: contain;
    align-self: flex-start;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
  }
  #tagline {
    font-family: 'Javanese Text', serif;
    font-size: 2em;
    line-height: 1.5;
    text-transform: none;
    color: white;
    letter-spacing: 0.1em;
    padding-top: 50px;
    padding-bottom: 0;
  }
  .dot {
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
  }
  #landing {
    display: flex;
    flex-wrap: wrap;
    background-color: #000080;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    }
  #landing img {
    max-width: 40%;
  }
  }
/*===========================PROJECT PAGE FORMATTING===========================*/

.intro {
  padding-bottom: 3rem;
}
  .intro p{
    padding-bottom: 1em;
  }
.project-section {
  padding-bottom: 3rem;
}
  p a, figure a{
    color: #808080;
  }
  .project-section img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
  }
  .project-section p{
    padding-bottom: 1em;
  }
  .project-section ul, .project-section ol{
    padding-bottom: 1.5rem;
  }
  .project-section h2, .intro h2{
    position: relative;
    padding-top: 15px;
    z-index:-1;
    font-size: 1.8em;
    font-weight: 600;
    padding-bottom: .5em;
    letter-spacing: 0.21rem;
  }
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 2rem;
  padding-bottom: 3.5rem;
}
  .gallery a img{
    object-fit: contain;
    max-width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .gallery a img:hover{
    opacity: .7;
    transition: 0.3s;
  }
header {
  padding-bottom: 3rem;
}
.banner {
  display: block;
  text-align: center;
  padding: 2rem;
  height: 250px;
  overflow: hidden;
}
#opensap{
  background-color: #fdf6c5;
}
#careconnect{
  background-color: #ddeeda;
}
#pros_color{
  background-color: #fddfd3;
}
  .banner h1{
    font-size: 26px;
  }
  .banner h2{
    padding-bottom: 1rem;
  }
  .banner img{
    max-width: 250px;
  }
  div.middle {
    text-align: center;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .container img {
    height: 100%;
    width: 100%;
  }
  .sketch-text {
    position: relative;
    padding-top: 30px;
  }
  .sidebyside_imgleft{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
  }

  .sidebyside_imgleft img{
    display: flex;
    align-self: flex-start;
    max-height: 100%;
    padding-bottom: 30px;
  }
  .sidebyside_imgleft p{
    height: 100%;
  }
  .sidebyside_imgright{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .sidebyside_imgright img{
    display: flex;
    align-self: flex-start;
    max-height: 100%;
    padding-bottom: 30px;
  }
  .sidebyside_imgright p{
    height: 100%;
  }
}

/*===========================FOOTER===========================*/
footer {
  margin-bottom: 30px;
}
.copyright {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  line-height: 1.6;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.email-icon {
  text-decoration: none;
  color: #808080;
}
.linkedin {
  text-decoration: none;
  color: #808080;
  padding-left: 1.5rem;
  padding-bottom: .5rem;
}

/*===========================TABLET===========================*/
@media screen and (min-width:481px){
  .content {
    margin: 0 50px 20px 50px;
  }
  .flex-container{
    flex-wrap: wrap;
  }
    .flex-container img{
      max-width: 80%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
    }
  .index_container{
    justify-content: center;
  }
    a.button {
      width: 40%;
    }
    .container {
      justify-content: center;
    }
    .navbar_link-toggle{
      padding-top: 3px;
    }
    }
/*===========================DESKTOP AND PRINT===========================*/
@media screen and (min-width:961px){
  .global-nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(255,255,255,1);
    z-index: 999;
  }
  #topnav {
    top: 0;
    transition: top 0.5s;
  }
  #landing{
    flex-wrap: nowrap;
    }
  #landing img {
    max-width: 30%;
  }
  .project-section {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
  }
  .intro {
    padding-left: 100px;
    padding-right: 100px;
  }
  .flex-container{
    flex-wrap: nowrap;
  }
    .flex-container img{
      max-width: 40%;
    }
    .about-text{
      margin-left: 2rem;
    }
}
@media print {
  .project-section {
    page-break-inside: avoid;
    margin: 0;
    padding: 0;
  }
  .body, .content, .intro, #main {
    margin:0;
    padding:0;
  }
  .global-nav{
    display:none;
  }
  @page{
    margin-bottom: 2cm;
  }
}
@media screen and (min-width:961px), only print{
   .navbar {
     width: 100%;
     margin: 0 auto;
     display: flex;
     flex-direction: row;
     height: 80px;
   }
   .navbar_items {
     display: flex;
   }
   .navbar_link {
     display: flex;
     flex-direction: row;
   }
   .navbar_link li{
     padding-left: 18px;
     font-size: 15px;
   }
   .navbar_link-brand {
     display: flex;
     flex-direction: row;
     margin-left: 100px;
   }
   .navbar_items--right {
      margin-left: auto;
      padding-right: 100px;
    }
    .navbar_link-toggle {
      display: none;
  }
  .spacer {
    width: 100%;
    height: 90px;
  }
  .content {
    margin: 0px 100px 20px 100px;
  }
  .banner{
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
    .banner h1{
      font-family: 'Lato', sans-serif;
      font-size: 28px;
    }
    .banner h2{
      font-family: 'Lato', sans-serif;
      font-size: 18px;
      letter-spacing: 0.18em;
      font-weight: 400;
    }
    .banner img{
      max-width: 500px;
    }
  .sidebyside_imgleft, .sidebyside_imgright{
    flex-wrap: nowrap;
  }
    .sidebyside_imgleft img {
      max-width: 40%;
    }
    .sidebyside_imgright img{
      max-width: 40%;
    }
    .sidebyside_imgleft p {
      margin-left: 2rem;
    }
    .sidebyside_imgright p{
      margin-right: 2rem;
    }
  .index_container{
    flex-wrap: nowrap;
  }
    .index_item_right{
      margin-left: 5rem;
    }
    .bottom-nav li{
      list-style-type: none;
      display: inline-block;
      padding-left:10px;
    }
  .small_on_desktop {
    max-width: 80%;
  }
  .captioned_image {
    max-width: 43%;
  }
  .container {
    flex-wrap: nowrap;
  }
  .sketch-text {
    position: relative;
    padding-top: 30px;
    max-width: 50%;
    align-self: center;
  }
  .gallery {
    flex-wrap: nowrap;
  }
    .gallery img{
      object-fit: contain;
      height: auto;
      max-width: 45%;
    }
}
@media screen and (min-width:1000px){
  #tagline {
    display: block;
    max-width: 85%;
    /* margin: auto; */
  }
}
@media screen and (min-width:1680px){
  #tagline {
    max-width: 1580px;
    text-align: center;
    /* margin: auto; */
    }
}
